.App {
  text-align: center;
}

p {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #06a438;
  border-radius: 12px;
}